body {
	margin: 0px;
	background: linear-gradient(-225deg, rgba(237, 117, 52, 0.9), rgba(175, 104, 65, 0.8))
}

h1 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 70px;
}

h2 {
	font-family: 'Ubuntu', sans-serif;
}

p {
	font-family: 'Ubuntu', sans-serif;
}

a {
	font-family: 'Ubuntu', sans-serif;
	display: block;

}

.btn {
	background-color: #ED7534 !important;
	border: none !important;
	height: 48px !important;
	width: 200px !important;
	font-weight: bolder !important;
}

#logo {
	font-size: 150px;
    background-image: linear-gradient(-225deg, rgba(250,246,232,0.6), rgba(255,220,132,0.2)), url("resource/image.unsplash.jpg");
   /* border-bottom:solid;*/
    width: 100%;
    text-align: center;
    height: 110vh;
    margin-top: 0px;
    background-repeat: no-repeat;
    background-size: cover;
   /* padding: 20px;  */
   margin-top: -30px;
   color:#ED7534;
}

#logo-text {
	margin-top: 0px;
	padding-bottom: 70px;
text-shadow: 1px 1px 2px black;

}

/*.top1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    line-height:140px;
}*/

#logo h1 {
	/*margin-bottom: -60px;*/
	font-size: 150px;
	padding-top: 50px;
	text-shadow: rgba(0,0,0,0.8);
}

#logo h2{
	font-size: 70px;
    padding-bottom: 30px;
    text-shadow: rgba(0, 0, 0, 0.8);
}

#logo a:hover{
	opacity: 0.7;
	transition-duration: 1s;
	transform: ease-in-out;
}

#logo a {
	opacity: 1.0;
	transition-duration: 1s
}

/*.value{
	font-size: 40px;
    font-weight: bold;
    /*padding-left: 100px;*/

/*
 .header{
 	/*border:solid;*/
 	/*padding-left: 30px;
 	text-align: left;
 	padding-bottom: 80px
 }*/
/***//*/

/* .exhort{
 	font-weight:italic;
 	font-size: 30px;
 }
*/
/* .master{
 	font-size: 40px;
 	color:red;

 }
*/




.card1 {
	/*border:solid;*/
	padding: 20px;
	font-style: bold;
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: space-between;
	/*background-color: #F2A378;*/
}

.video {
  width: 360px;
  height: 640px;
}

.video img {
	width: 600px;
	height: 400px;
}

.paragraph{
	width: 60%;
	padding-right: 20px;
 }
/*
.paragraph{
	text-align: center;*/
/*}*/

.better{
     font-size:70px;
     font-weight: bold;
     text-align: left;
     color:


  }

.text{font-family: roboto;
	font-weight:bold;
	display: flex;
	align-items: center;
	justify-content: space-between;
/*    font-size: 40px;*/
}

.card2{
	/*border: solid;*/
	/*background-color: #102542*/
	padding:20px;

}

.flex-row {
	display: inline-flex;
	flex-flow: row wrap;
	overflow: none;
	overflow-wrap: none;
	justify-content: space-around;
	text-align: left
}

.photohome{
	padding top: 30px;
	padding right: 30px;
	padding-bottom: 30px;
}

.how{
	flex:1;
	padding-right: 40px;

}

.home1 {
	flex:1;
	padding-left: 20px;
}

.home2 {
	flex:1;
	padding-right: 20px;
}

.home3{
	flex:1;
	padding-right: 10px;
}

a {
	font-weight: bold;
    font-size: 40px;
}

/*#home{
	padding-top: 1px;
}
*/
/*a:hover{
	font-weight: bolder;
	font-size: 70px;
}*/

.card3 {
	width: 100%;
	/*border: solid;*/
	margin-top:10px;
}

.multi-selection {
	display: flex;
	justify-content: space-around;
}


.jeff {
	height: 40px;
	width: auto;
	max-width: 180px;
	padding-top: -80px;
	margin-top: 25px;

}
.coneect{
	text-align: center;
	font-size:20px;
	font-style: bolder;
}

.link{
	/*font-size: 40px;*/
	display: block;
	transition: .3s ease-in-out;
	font-size:45px;
	color: darkblue;
	text-align: center
}

.download{
	justify-content: space-around;
	display: flex;
	padding: 30px;
	margin-top: 45px;
	background-color: black
}

.download>img {
	border:solid;
	border-color: grey;
	border-radius:4px;
	width: 25%;
    height: 25%;
}

.card-title {
	padding-bottom: 20px
}


/*.dg1{
	widows: 100%;
}*/

#bottom a:hover {
  color: darkblue;
}

#bottom a {
  color: grey;
  font-size: 20px;
}

#bottom ul {
  padding-left:0;
  list-style: none;
}

#bottom li {
  display: inline-block;
  padding:0px 10px;
}

#bottom {
 /* background: #ED7534 ;*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
#bottom-links {
  display: flex;
  align-items: center;
}
#bottom-links a {
  color: black;
  opacity: 0.6;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
#bottom-links a:hover {
  opacity: 1;
  color: black;
}
#bottom .fa-heart {
  color: #D23333;
}
